<div class="container">
    <div>
        <table>
            <tr>
                <td>Origin</td>
                <td>
                    <label>
                        <nb-card-body>
                            <nb-select placeholder="{{origin}}" [size]="'tiny'" fullWidth
                                       [(ngModel)]="origin"
                                       [(selected)]="origin"
                                       (selectedChange)="changeFare($event)">
                                <nb-option [value]="originOption"
                                           *ngFor="let originOption of origins">{{ originOption.description }}</nb-option>
                            </nb-select>
                        </nb-card-body>
                    </label>
                </td>
            </tr>
            <tr>
                <td>Destination</td>
                <td>
                    <label>
                        <nb-card-body>
                            <nb-select placeholder="{{destination}}" [size]="'tiny'" fullWidth
                                       [(ngModel)]="destination"
                                       [(selected)]="destination"
                                       (selectedChange)="changeFare($event)">
                                <nb-option [value]="destinationOption"
                                           *ngFor="let destinationOption of destinations">{{ destinationOption.description }}</nb-option>
                            </nb-select>
                        </nb-card-body>
                    </label>
                </td>
            </tr>
            <tr *ngIf="fare">
                <td>Fare</td>
                <td>
                    <label>
                        <nb-card-body>
                            <nb-select-label>
                                {{fare.amount}}
                            </nb-select-label>
                            <nb-select-label>
                                {{fare.currency}}
                            </nb-select-label>
                        </nb-card-body>
                    </label>
                </td>
            </tr>
            <tr *ngIf="fare">
                <td>Origin</td>
                <td>
                    <label *ngIf="fare.origin">
                        <nb-card-body>
                            Name:
                            <nb-select-label>
                                {{fare.origin.name}}
                            </nb-select-label>
                            Latitude:
                            <nb-select-label>
                                {{fare.origin.coordinates.latitude}}
                            </nb-select-label>
                            Longitude:
                            <nb-select-label>
                                {{fare.origin.coordinates.longitude}}
                            </nb-select-label>
                        </nb-card-body>
                    </label>
                </td>
            </tr>
            <tr *ngIf="fare">
                <td>Destination</td>
                <td>
                    <label *ngIf="fare.destination">
                        <nb-card-body>
                            Name:
                            <nb-select-label>
                                {{fare.destination.name}}
                            </nb-select-label>
                            Latitude:
                            <nb-select-label>
                                {{fare.destination.coordinates.latitude}}
                            </nb-select-label>
                            Longitude:
                            <nb-select-label>
                                {{fare.destination.coordinates.longitude}}
                            </nb-select-label>
                        </nb-card-body>
                    </label>
                </td>
            </tr>
            <tr>
                <td *ngIf="loading">Loading...</td>
            </tr>
        </table>
    </div>
</div>