<div class="container">
    <div>
        <table>
            <tr>
                <td>Error Code</td>
                <td>
                    <label>
                        <mat-form-field>
                            <mat-label>Error code Metrics</mat-label>
                            <mat-select (selectionChange)="changeErrorCode()" [(value)]="option">
                                <mat-option *ngFor="let option of options" [value]="option">
                                    {{option.tag}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </label>
                </td>
            </tr>
            <tr *ngIf="statistics">
                <td>Measurements</td>
                <td>
                    <label *ngIf="statistics">
                        <mat-card>
                            Call count:
                            <mat-label>
                                {{statCount}}
                            </mat-label>
                            Average time:
                            <mat-label>
                                {{statAvg}}
                            </mat-label>
                            Maximum time:
                            <mat-label>
                                {{statMax}}
                            </mat-label>
                            Minimum time:
                            <mat-label>
                                {{statMin}}
                            </mat-label>
                            Total time:
                            <mat-label>
                                {{statTotal}}
                            </mat-label>
                        </mat-card>
                    </label>
                </td>
            </tr>
            <tr>
                <td *ngIf="countLoaders > 0">Loading...</td>
            </tr>
        </table>
        <mat-card *ngIf="countLoaders <= 0">
            <mat-button-toggle (click)="changeErrorCode()">Refresh</mat-button-toggle>
        </mat-card>
    </div>
</div>