<div class="container">
    <div>
        <br/>
        <mat-form-field>
            <mat-label>Radius (Km)</mat-label>
            <input #selectedRadiusControl matInput [value]="selectedRadius"
                   (change)="radiusChanged(selectedRadiusControl.value)"/>
            <mat-hint *ngIf="radiusAutoFilled">Autofilled!</mat-hint>
        </mat-form-field>
        <br/>
        <mat-form-field>
            <input type="text" placeholder="Select one object please" aria-label="Number" matInput
                   [formControl]="airportFormControl"
                   [matAutocomplete]="auto" (ngModelChange)="searchTermChange($event)">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name"
                            (click)="setCurrentAirport(option)">
                    {{option.name}}
                </mat-option>
            </mat-autocomplete>

        </mat-form-field>

        <br/>

        <mat-card>
            <button mat-button (click)="refresh()">Refresh</button>
        </mat-card>

        <mat-card *ngIf="selectedObject" class="double-card" style="width: 200px">
            <mat-label>{{selectedObject.name}} - {{selectedObject.code}}</mat-label>
            <br/>
            <mat-list>
                <mat-list-item *ngFor="let webCam of selectedObject.webCams" style="height: 100px">
                    <button mat-icon-button (click)="selectWebCam(webCam)">
                        <img src="{{webCam.webCamImage.iconUrl}}" height="100" alt=""/>
                    </button>
                    <mat-label>{{webCam.title}}</mat-label>
                </mat-list-item>
            </mat-list>
        </mat-card>

        <mat-card *ngIf="selectedCam" class="double-card">
            <img alt="" src="{{selectedCam.webCamImage.previewUrl}}" style="width: 100%"/>
        </mat-card>


        <table>
            <tr>
                <td *ngIf="loading">Loading...</td>
            </tr>
        </table>
    </div>
</div>