<div class="container">
    <nb-card accent="info">
        <div class="container">
            <nb-card-body>
                <div class="card">
                    <div>Please select an option from below</div>
                </div>
            </nb-card-body>
        </div>
    </nb-card>

    <mat-tab-group (selectedTabChange)="tabChanged($event, webCamsComponent, metricsComponent, airportsComponent)">
        <mat-tab label="First"><airports-selector #airportsComponent></airports-selector></mat-tab>
        <mat-tab label="Second"><metrics-selector #metricsComponent></metrics-selector></mat-tab>
        <mat-tab label="Third"><webcams-selector #webCamsComponent></webcams-selector></mat-tab>
    </mat-tab-group>

    <nb-card>
        <div class="container center">Copyright 2019 @ João Esperancinha (<a
                href="http://www.joaofilipesabinoesperancinha.nl">jesperancinha</a>)
        </div>
    </nb-card>
</div>