name: mos-app-pull-request

on:
  pull_request:
    branches: 
      - '**'
  push:
    branches:
      - '**'
      - '!main'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'adopt'
    - name: Setup Gradle
      uses: gradle/gradle-build-action@v3

    - name: Generate credentials
      run:  make generate-credentials

    - name: Build Gradle
      uses: nick-fields/retry@v3
      with:
        max_attempts: 2
        retry_on: error
        timeout_seconds: 2400
        command: |
          make build-gradle

    - name: Test Gradle
      run:  make test-gradle

    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'

    - name: Build Node JS and Test
      run: make build-test-npm
